<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/game.css">
</head>

<body>
    <header class="Main-header">
        <h2 class="heading design">Guess the Word Game</h2>
    </header>
    <section>
        <div class="Main-gaming-div">
            <div class="hidden" id="toggle">
            <div>
                <h3 class="result" id="result"></h3>
            </div>
            <input type="text" placeholder="Enter word" class="in-input" id="in-input"/>
            </div>
            <button class="btn" id="subbtn">Play</button>
        </div>
    </section>
    <script src="/public/js/game.js"></script>
</body>

</html>