<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header class="Main-header">
        <h2 class="heading design">Guess the Word Game</h2>
    </header>
    <section>
        <div class="Main-div">
            <h2>Choose Difficulty Level</h2>
            <a href="/game/easy" class="btn">Easy</a>
            <a href="/game/medium" class="btn">Medium</a>
            <a href="/game/hard" class="btn">Hard</a>
        </div>
    </section>
</body>

</html>